<div class="row section-header">
    <span class="col-8"><h3>Equipment</h3></span>
    <button class="btn btn-primary float-end col-3" (click)="copyGearToClipboard()">Copy Equipment to Clipboard</button>
</div>

<div class="row">
    <div class="mb-3 card col-sm-12 col-md-6 col-lg-4" *ngFor="let slot of gearList.getSlots()">

        <div class="row">
            <button type="button" class="btn btn-secondary flat-right col-11 text-center" [ngClass]="getClassForSlot(slot)"
                (click)="showSuggestedItems(slot)">
                <div class='row'>
                    <div class='col-4 text-start'>{{slot}}</div>
                    <div class="col-8 text-end item-name">{{getItemName(slot)}}</div>
                </div>
            </button>

            <button type="button" class="btn btn-secondary flat-left col-1 fw-bold"
                *ngIf="equipped.hasItem(slot); else unlocked" (click)="equipped.clearSlot(slot)">
                &times;
            </button>
            <ng-template #unlocked>
                <span class="btn btn-secondary flat-left col-1"></span>
            </ng-template>
        </div>
        <app-gear-description [item]=equipped.getSlot(slot)></app-gear-description>
    </div>

    <!-- Describe Sets -->
    <div class="mb-3 col-sm-12 col-md-6 col-lg-4" *ngFor="let setToAffixes of equipped.getActiveSetBonuses()">
        <div class="row">
            <button type="button" class="btn btn-info flat-right col-12 text-center"
                (click)="showItemsInSet(setToAffixes[0])">
                <div class='row'>
                    <div class='col-2 text-start'>Set</div>
                    <div class="col-9 text-end item-name">{{setToAffixes[0]}}</div>
                    <div class="col-1"></div>
                </div>
            </button>

            <div class="mb-3 col">
                <div class="row table-striped table-condensed small hover-helper"
                    [ngClass]="getClassForAffix(affix)" *ngFor="let affix of setToAffixes[1]">
                    <span class="show-on-hover fas fa-heart heart col-1" *ngIf="equipped.isImportantAffix(affix.name)"
                        (click)="equipped.toggleImportantAffix(affix.name)"></span>
                    <span class="show-on-hover far fa-heart heart col-1" *ngIf="!equipped.isImportantAffix(affix.name)"
                        (click)="equipped.toggleImportantAffix(affix.name)"></span>
                    <div class="col-7">{{affix.name}}</div>
                    <div class="col-4">{{getAffixValue(affix)}} {{affix.type}}</div>
                </div>
            </div>
        </div>
    </div>
</div>