<div class="container">
    <!-- Affix Cloud -->
    <div class="row section-header">
        <h3>Choose affixes</h3>
    </div>

    <p>What attributes do you care about?</p>
    <div class="row d-flex justify-content-start">
        <div class="col-auto m-0 mb-2 p-0" *ngFor="let attr of attributes">
            <button class="btn btn-primary mx-1"
                (click)="add(attr)">{{attr}}</button>
        </div>
    </div>

    <p>Pick a bundle of affixes to save time:</p>
    <div class="row d-flex justify-content-start">
        <div class="col-auto m-0 mb-2 p-0" *ngFor="let pkg of packageKeys">
            <button class="btn btn-primary mx-1"
                (click)="addPackage(pkg)">{{pkg}}</button>
        </div>
    </div>

    <div *ngIf="topResults.length">
        <p>What other affixes are important to your build?</p>
        <div class="row d-flex justify-content-start">
            <div class="col-auto m-0 mb-2 p-0" *ngFor="let result of topResults">
                <button class="btn btn-primary mx-1" [ngClass]="getBtnSize(result)"
                    (click)="add(result[0])">{{result[0]}}</button>
            </div>
        </div>
    </div>

    <!-- Manual Entry -->
    <div class="row mt-2">
        <p class="col-sm-12 col-md-4">Enter affixes manually:</p>
        <app-typeahead id="effect-search" class="col-8" type="text" placeholder="Enter an affix" [source]=allAffixes
            [onChange]=onChange()>
        </app-typeahead>
    </div>

    <!-- Saved Affixes -->
    <div *ngIf="savedSet.size">
        <div class="row section-header my-2">
            <h4>Saved affixes</h4>
        </div>
        <div class="row">
            <p>Tap to remove</p>
        </div>
        <div class="row d-flex justify-content-start">
            <div class="col-auto m-0 mb-2 p-0" *ngFor="let result of savedSet">
                <button class="btn btn-danger btn-sm mx-1" (click)="remove(result)">{{result}}</button>
            </div>
        </div>
    </div>

    <!-- Done -->
    <div class="row mt-2">
        <a class="btn btn-success col-4" routerLink="/main" routerLinkActive="active">Done</a>
    </div>
</div>