<div class="container">
  <!-- Affix Cloud -->
  <div class="row section-header">
    <h3>Choose affixes</h3>
  </div>

  <p>What attributes do you care about?</p>
  <div class="row d-flex justify-content-start">
    @for (attr of attributes; track attr) {
      <div class="col-auto m-0 mb-2 p-0">
        <button class="btn btn-primary mx-1"
        (click)="add(attr)">{{attr}}</button>
      </div>
    }
  </div>

  <p>Pick a bundle of affixes to save time:</p>
  <div class="row d-flex justify-content-start">
    @for (pkg of packageKeys; track pkg) {
      <div class="col-auto m-0 mb-2 p-0">
        <button class="btn btn-primary mx-1"
        (click)="addPackage(pkg)">{{pkg}}</button>
      </div>
    }
  </div>

  @if (showTactics) {
    <div>
      <p>Which tactics will you use?</p>
      <div class="row d-flex justify-content-start">
        @for (tactic of tactics; track tactic) {
          <div class="col-auto m-0 mb-2 p-0">
            <button class="btn btn-primary mx-1"
            (click)="addTactic(tactic)">{{tactic}}</button>
          </div>
        }
      </div>
    </div>
  }

  @if (showSpellpowers) {
    <div>
      <p>Which spellpowers do you care about?</p>
      <div class="row d-flex justify-content-start">
        @for (spellpower of spellpowerPackageKeys; track spellpower) {
          <div class="col-auto m-0 mb-2 p-0">
            <button class="btn btn-primary mx-1"
            (click)="addSpellpower(spellpower)">{{spellpower}}</button>
          </div>
        }
      </div>
    </div>
  }

  @if (showSpellSchools) {
    <div>
      <p>What spell schools will you use?</p>
      <div class="row d-flex justify-content-start">
        @for (spellSchool of spellSchools; track spellSchool) {
          <div class="col-auto m-0 mb-2 p-0">
            <button class="btn btn-primary mx-1"
            (click)="addSpellSchool(spellSchool)">{{spellSchool}}</button>
          </div>
        }
      </div>
    </div>
  }

  @if (topResults.length) {
    <div>
      <p>What other affixes are important to your build?</p>
      <div class="row d-flex justify-content-start">
        @for (result of topResults; track result) {
          <div class="col-auto m-0 mb-2 p-0">
            <button class="btn btn-primary mx-1" [ngClass]="getBtnSize(result)"
            (click)="add(result[0])">{{result[0]}}</button>
          </div>
        }
      </div>
    </div>
  }

  <!-- Manual Entry -->
  <div class="row mt-2">
    <p class="col-sm-12 col-md-4">Enter affixes manually:</p>
    <app-typeahead id="effect-search" class="col-8" type="text" placeholder="Enter an affix" [source]=allAffixes
      [onChange]=onChange()>
    </app-typeahead>
  </div>

  <!-- Saved Affixes -->
  @if (savedSet.size) {
    <div>
      <div class="row section-header my-2">
        <h4>Saved affixes</h4>
      </div>
      <div class="row">
        <p>Tap to remove</p>
      </div>
      <div class="row d-flex justify-content-start">
        @for (result of savedSet; track result) {
          <div class="col-auto m-0 mb-2 p-0">
            <button class="btn btn-danger btn-sm mx-1" (click)="remove(result)">{{result}}</button>
          </div>
        }
      </div>
    </div>
  }

  <!-- Done -->
  <div class="row mt-2">
    <a class="btn btn-success col-4" routerLink="/main" routerLinkActive="active">Done</a>
  </div>
</div>