<div class="container">
    <!-- Affix Cloud -->
    <h3 class="row">Pick some affixes</h3>
    <p>What affixes are important to your build?</p>
    <div class="row">
        <div class="form-group" *ngFor="let result of topResults">
            <button class="btn btn-primary mx-1" [ngClass]="getBtnSize(result)"
                (click)="add(result[0])">{{result[0]}}</button>
        </div>
    </div>

    <!-- Manual Entry -->
    <h4 class="row mt-2">Enter affixes manually:</h4>
    <div class="row mt-2">
        <app-typeahead id="effect-search" class="col-8" type="text" placeholder="Enter an affix" [source]=allAffixes [onChange]=onChange()>
        </app-typeahead>
    </div>

    <!-- Saved Affixes -->
    <h4 class="row mt-2" *ngIf="savedSet.size">Saved affixes:</h4>
    <div class="row">
        <div class="form-group" *ngFor="let result of savedSet">
            <button class="btn btn-danger btn-sm mx-1" (click)="remove(result)">{{result}}</button>
        </div>
    </div>

    <!-- Done -->
    <div class="row mt-2">
        <a class="btn btn-success" routerLink="/main" routerLinkActive="active">Done</a>
    </div>
</div>