.row:nth-child(odd) {
background-color:antiquewhite;
}
.row:nth-child(even) {
background: #FFFFFF;
}

.BetterThanBest {
    font-weight: bold;
    color: purple;
}

.Best {
    font-weight: bold;
    color: green;
}

.SmallFont {
    font-size: 13px;
}

.BestTied {
    font-style: italic;
    font-weight: bold;
    color: blue;
}

.Outranked {
    font-weight: bold;
    color: darkorange;
}

.Irrelevant {
    color: black;
}

.Penalty {
    color: red;
}

.Mixed {
    font-style: italic;
    font-weight: bold;
    color: darkorange;
}

.hover-helper:hover .show-on-hover {
    visibility: visible;

}

.hover-helper .show-on-hover {
    visibility: hidden;
}

.show-never {
    visibility: hidden;
}

.heart {
    color: red;
    border: none;
}

a {
    text-decoration: underline;
}