@if (curItem && curItem.isValid()) {
  <div class="col">
    @if (!curItem.isEssenceCrafted()) {
      <div class="row ps-2">
        <div class="col-4"><b>ML: {{curItem.ml}}</b></div>
        <div class="col-8 text-end"><i>{{curItem.quests ? curItem.quests[0] : ''}}</i></div>
      </div>
    } @else {
      <div class="row">
        <span class="show-never fas fa-heart heart col-1"></span>
        <div class="col-3 ps-1 pe-0"><b>ML:</b></div>
        <div class="col-8">
          <select class="form-control SmallFont border border-secondary fw-bold" [(ngModel)]="essenceCraftingML" (change)="updateML()" [value]="curItem.ml">
            @for (ml of essenceCrafting.levels; track ml) {
              <option>{{ml}}</option>
            }
          </select>
        </div>
      </div>
    }
    <!-- Main Affixes -->
    @for (row of affixRows; track row.affix.name + '|' + row.affix.type + '|' + row.affix.value) {
      <div class="row table-condensed small hover-helper" [ngClass]="row.className"
          [title]="row.tooltip">
        @if (row.important) {
          <button class="show-on-hover fas fa-heart heart col-1"
          (click)="equipped.toggleImportantAffix(row.affix.name)"></button>
        }
        @if (!row.important) {
          <button class="show-on-hover far fa-heart heart col-1"
          (click)="equipped.toggleImportantAffix(row.affix.name)"></button>
        }
        <div class="col ps-1">{{row.affix.name}} @if (row.affixGroup) { <i class="fas fa-eye small ms-1" [title]="row.groupTooltip"></i> }</div>
        @if (row.valueText) {
          <div class="col">{{row.valueText}}</div>
        }
      </div>
      }
    <!-- Crafting -->
    @for (row of craftingRows; track row.craft.name) {
      <div class="row table-striped table-condensed small hover-helper">
        @if (!row.craft.selected.affixes.length) {
          <span class="show-never fas fa-heart heart col-1"></span>
        }
        @if (row.craft.selected.affixes.length && row.important) {
          <button class="show-on-hover fas fa-heart heart col-1"
          (click)="equipped.toggleImportantAffix(row.craft.selected.affixes[0].name)"></button>
        }
        @if (row.craft.selected.affixes.length && !row.important) {
          <button class="show-on-hover far fa-heart heart col-1"
          (click)="equipped.toggleImportantAffix(row.craft.selected.affixes[0].name)"></button>
        }
        <div class="col-3 ps-1 pe-0" [ngClass]="row.className" [title]="row.tooltip">
          {{row.craft.name}}
          @if (row.selectedAffixGroup) {
            <i class="fas fa-eye small ms-1" [title]="row.selectedGroupTooltip"></i>
          }
        </div>
        @if (!readonly) {
          <div class="col-8">
            <select class="form-control SmallFont border border-secondary" [(ngModel)]="row.craft.selected" (focus)="loadAndRankCraftingOptions(row)" (mousedown)="loadAndRankCraftingOptions(row)" (change)="updateItem()" [ngClass]="row.className" [hidden]="row.craft.options.length < 2">
              @for (optionRow of row.options; track optionRow.description) {
                <option [ngValue]="optionRow.option"
                  [ngClass]="optionRow.className"
                  [title]="optionRow.tooltip">
                  {{optionRow.description}}
                </option>
              }
            </select>
          </div>
        }
      </div>
    }
    <!-- Sets -->
    @for (set of setRows; track set.name) {
      <div class="row table-striped table-condensed small" >
        <span class="col">Set:&nbsp;<a href='javascript:;' (click)="showItemsInSet(set.name)">{{set.name}}</a> ({{set.count}})</span>
      </div>
    }
  </div>
}
