/* You can add global styles to this file, and also import other style files */

.section-header {
    background-color: darkblue;
    color: white;
    padding-left: 25px;
}

.custom-close {
    font-size: 2rem;
    padding: 0.25rem 0.5rem;
    border: none;
    background: none;
    color: inherit;
  }
  
.custom-close span {
    display: inline-block;
    line-height: 1;
}