<div class="modal-body">
<h1>
    {{gear[0].slot}} Suggestions
    <button type="button" class="close float-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
</h1>

<div class="container" *ngFor="let item of gear">
    <div class="row">
        <span class="col">{{item.name}}</span>
        <button class="col-2" (click)="equipItem(item)">Equip</button>
    </div>
    <div class="row">
        <app-gear-description class="col" [item]=item></app-gear-description>
    </div>
    <hr>
</div>
</div>