.max-available {
    color: gray;
    font-weight: normal;
}

.max-value {
    color: green;
    font-weight: bold;
}

.mid-value {
    color: darkorange;
    font-weight: bold;
}

.low-value {
    color: red;
    font-weight: bold;
}

.penalty-value {
    color: red;
    font-weight: bold;
}

.no-value {
    color: 	grey;
}

.custom-close {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border: none;
    background: none;
    color: inherit;
  }
  
.custom-close span {
    display: inline-block;
    line-height: 1;
}