<div>
    <div class="row">
        <label for="effect-search" class="col-2">Attribute to add:</label>
        <app-typeahead id="effect-search" class="col-3" type="text" [source]=allAffixes [onChange]=onChange()></app-typeahead>
    </div>
    <div class="card col-sm-12 col-md-6 float-left" *ngFor="let effect of effectKeys">
        <div>
            <span class="h4">{{effect.name}}</span>
            <button class="btn btn-danger float-right" (click)=removeAffix(effect.name)>X</button>
        </div>
        <div class="col" *ngFor="let types of effects.get(effect.name)">
            <button class="col bonus-type-found" *ngIf="types.value; else noValue" 
                (click)="showItemsWithBonusType(effect.name, types.bonusType)">
                    {{types.bonusType}}: {{types.value}}
            </button>
            <ng-template #noValue>
                <button class="col bonus-type-not-found" 
                    (click)="showItemsWithBonusType(effect.name, types.bonusType)">
                        {{types.bonusType}}
                </button>
            </ng-template>
        </div>
    </div>
</div>
