<div class='modal-body'>
    <button type="button" class="custom-close float-end" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2>
        <span>{{affixName}}</span><span *ngIf="isRealType(bonusType)">: {{bonusType}}</span>
    </h2>

    <div *ngIf="sets.length">
        <div class="row">
            <div class="col-2"><b>Pieces</b></div>
            <div class="col-6"><b>Set</b></div>
            <div class="col-2"><b>Value</b></div>
            <div class="col-2"></div>
        </div>

        <div class="row" *ngFor="let set of sets">
            <div class="col-2">{{set[1]}}</div>
            <div class="col-6">{{set[0]}}</div>
            <div class="col-2">{{set[2]}}</div>
            <button class="col-2" (click)="showItemsInSet(set[0])">View</button>
        </div>
    </div>

    <div *ngIf="matches.length">
        <div class="row">
            <div class="col-1"><b>ML</b></div>
            <div class="col-2"><b>Slot</b></div>
            <div class="col-6"><b>Name</b></div>
            <div class="col-1"><b>Value</b></div>
            <div class="col-2"></div>
        </div>

        <div class="row" *ngFor="let item of matches">
            <div class="col-1">{{item.ml}}</div>
            <div class="col-2">{{item.slot}}</div>
            <div class="col-6"><a href="{{item.getURL()}}"
                    target="_blank">{{item.name}}</a>{{findMatchingValue(item)[0]}}</div>
            <div class="col-1">{{findMatchingValue(item)[1]}}</div>
            <button class="col-2" (click)="equipItem(item)">Equip</button>
        </div>
    </div>

    <div *ngIf="lockedMatches.length > 0">
        <div class="row">&nbsp;</div>
        <h3>Already Filled Slots</h3>
        <i>

            <div class="row" *ngFor="let item of lockedMatches">
                <div class="col-1">{{item.ml}}</div>
                <div class="col-2">{{item.slot}}</div>
                <div class="col-6"><a href="{{item.getURL()}}" target="_blank">{{item.name}}</a>{{findMatchingValue(item)[0]}}</div>
                <div class="col-1">{{findMatchingValue(item)[1]}}</div>
                <button class="col-2" (click)="equipItem(item)">Equip</button>
            </div>
        </i>
    </div>
</div>